/* Golobal CSS */

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #de4129, #eaaf42);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
}



/* Main  CSS - Master */
.main {
      width: 800px;
      height: 105%;
      padding: 0px 0px 24px;
      border: 0px solid black;
      border-radius: 12px;
      background-color: #ffffff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.015), 0 6px 20px 0 rgba(0, 0, 0, 0.019);
      position: relative;
      left: 27%;
      top: 20px;
}

/* Box Left - Start */
.box-left {
  background-image: linear-gradient(to bottom, white, white);
  backdrop-filter: blur(10px);
  opacity: 0.95;
  width: 256px;
  height: 100vh;
  padding-left: 12px;
  padding-right: 12px;
  position:fixed;
  left: 0px;
  top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.015), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-left h3 {
  font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  position: fixed; 
  top: 30px;
}

.box-left h4 {
  font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 12px;
  font-variant: lining-nums;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 14.4px;
  text-decoration: none ;
  color: #1F222580;
  word-spacing: 0px;
  position: fixed;
  top: 10px;
}

.toc {
  margin-top: 45px;
  margin-left: 10px;
}

.toc div {
  font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  font-variant: lining-nums;
  font-weight: 500;
  letter-spacing: -0.04px;
  line-height: 16px;
  text-decoration: none solid rgba(31, 34, 37, 0.9);
  text-align: left;
  white-space: nowrap;
  word-spacing: 0px;
  color: #1F2225;
  margin-top: 0px;
  margin-bottom: 3px;
  width: 14rem;
  border: 0px solid #ddd; /* Add border */
  border-radius: 4px; /* Add border radius */
  padding: 8px ; /* Add padding */
  padding-left: 8%;
  display: flex;
	}

#tocdiv-pad::before {
padding-left: 15px;
  
}

.toc div::before {
    content: "\1F530"; /* Add the emoji unicode here */
    margin-right: 5px; /* Add spacing between emoji and text */
  }

.toc div:hover {
    border: 0px solid #ddd; /* Add border */
    background-color: #E5E7EB;
  }

/* Box Left - Start */