/* Golobal CSS */

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #EB59F7, #01C7FC, #FFFF);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  height: 100vh;
  
}

/* Scrrol Bar - Start */

/* width */
::-webkit-scrollbar {
  width: 6.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #28afb0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #19647e;
}

/* Scrrol Bar - End */

/* Main  CSS - Master */
.main {
    width: 800px;
    height: 105%;
    padding: 0px 0px 24px;
    border: 0px solid black;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    left: 27%;
    top: 20px;
}

/* Yt cover - Start */
.youtube-player {
  position: relative;
  width: 100%;
  height: 320px;
  border-top-left-radius: .6rem; 
  border-top-right-radius: .6rem;
  overflow: hidden;
  background: #000;

}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  transition: 0.4s all;
  filter: blur(1px); /* Add the blur effect with a value in pixels */
}


.youtube-player .play {
  height: 48px;
  width: 68px;
  left: 50%;
  top: 50%;
  margin-left: -34px;
  margin-top: -24px;
  position: absolute;
  background: url("https://i.ibb.co/j3jcJKv/yt.png") no-repeat;
  opacity: 0.7; /* Adjust the opacity value to control the intensity of the overlay effect */
  cursor: pointer;
}

/* Yt cover - End */

.imgcover {
  width: .5rem;
  height: .5rem;
  border: 0px solid black;
  position: relative;
  top: -80px;
  left: 45px;
  img {
    height: 280px;
    border: 0px solid black;
    border-radius: 1.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}

.header-h1 {
  font-family: Libre Franklin, Helvetica, sans-serif;
  font-size: 18px;
  font-variant: lining-nums;
  font-weight: 300;
  letter-spacing: -0.3px;
  line-height: 28px;
  text-decoration: none solid rgba(31, 34, 37, 0.9);
  word-spacing: 0px;
  position: relative;
  left: 34%;
  top: 2.5%;
}

.movie-info1 {
  position: relative;
  left: 34%;
  top: 4%;

}

.movie-info1-item {
  font-size: 12px;
  font-variant: lining-nums;
  font-weight: 400;
  letter-spacing: 0.01px;
  line-height: 14.4px;
  text-decoration: none ;
  color: auto;
  word-spacing: 0px;
  display: inline-block;
  padding-right: 10px;
}



/* Box Left - Start */
.box-left {
  background-image: linear-gradient(to bottom, white, white);
  backdrop-filter: blur(10px);
  opacity: 0.95;
  width: 256px;
  height: 100vh;
  padding-left: 12px;
  padding-right: 12px;
  position:fixed;
  left: 0px;
  top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.015), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-left h3 {
  font-size: 16px;
  position: fixed; 
  top: 30px;
}

.box-left h4 {
  font-size: 12px;
  font-variant: lining-nums;
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 14.4px;
  text-decoration: none ;
  color: #1F222580;
  word-spacing: 0px;
  position: fixed;
  top: 10px;
}

.toc {
  margin-top: 45px;
  margin-left: 10px;
}

.toc div {
  font-size: 13px;
  font-variant: lining-nums;
  font-weight: 500;
  letter-spacing: -0.04px;
  line-height: 16px;
  text-decoration: none solid rgba(31, 34, 37, 0.9);
  text-align: left;
  white-space: nowrap;
  word-spacing: 0px;
  color: #1F2225;
  margin-top: 0px;
  margin-bottom: 3px;
  width: 14rem;
  border: 0px solid black; /* Add border */
  border-radius: 4px; /* Add border radius */
  padding: 8px ; /* Add padding */
  padding-left: 8%;
  display: flex;
	}

#tocdiv-pad::before {
padding-left: 15px;
  
}

.toc div::before {
    content: "\1F530"; /* Add the emoji unicode here */
    margin-right: 5px; /* Add spacing between emoji and text */
  }
.toc div:hover {
    border: 0px solid #ddd; /* Add border */
    background-color: #E5E7EB;
  }

/* Box Left - End */